.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box1, .box5, .box8 {
  width: 30%;
  height: 30%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2, .box6, .box9 {
  width: 30%;
  height: 30%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3, .box7, .box10 {
  width: 30%;
  height: 30%;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4, .box11 {
  width: 60%;
  height: 60%;
  background-color: yellow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
